{
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "jsxSingleQuote": false,
    "printWidth": 80,
    "singleQuote": true,
    "semi": true,
    "tabWidth": 4,
    "trailingComma": "all"
}
